<template>
  <main>
    <!-- <header>
      <navbar/>
    </header> -->
    <ol class="breadcrumb text-right">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <li class="breadcrumb-item"><nuxt-link tag="a" to="/"> الرئيسية </nuxt-link></li>
            <li class="breadcrumb-item"><nuxt-link tag="a" to="/worker"> الموظفين </nuxt-link></li>
            <li class="breadcrumb-item active">{{workerDetails.workerName}}</li>
          </div>
        </div>
      </div>
    </ol>
    <section class="worker">
      <div class="container">
        <div class="row">
          <div class="col-12 mt-3">
            <div class="table-responsive" v-if="workerDetails">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th> اسم الموظف </th>
                    <td>{{workerDetails.workerName}}</td>
                  </tr>
                  <tr>
                    <th> الرقم القومي </th>
                    <td v-if="workerDetails.idNumber !== ''">{{workerDetails.idNumber}}</td>
                    <td v-else> لا يوجد رقم قومي </td>
                  </tr>
                  <tr>
                    <th> رقم الهاتف </th>
                    <td>{{workerDetails.phoneNumber}}</td>
                  </tr>
                  <tr>
                    <th> العنوان </th>
                    <td v-if="workerDetails.address !== ''">{{workerDetails.address}}</td>
                    <td v-else> لا يوجد عنوان </td>
                  </tr>
                  <tr>
                    <th> المنصب </th>
                    <td>{{workerDetails.position}}</td>
                  </tr>
                  <tr>
                    <th> المرتب الأساسي </th>
                    <td>{{workerDetails.basicSalary}} (جنيه مصري)</td>
                  </tr>
                  <tr>
                    <th> ملاحظات اضافية </th>
                    <td v-if="workerDetails.notes !== ''">{{workerDetails.notes}}</td>                    
                    <td v-else> لا توجد ملاحظات اضافية </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td>
                      <nuxt-link tag="a" :to="'/worker/edit/'+workerDetails.id" class="waves-effect waves-light btn orange" exact><i class="fa fa-pencil right" aria-hidden="true"></i> تعديل </nuxt-link>
                    </td>
                    <td>
                      <button class="waves-effect waves-light btn red"><i class="fa fa-times right" aria-hidden="true"></i> حذف </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <nuxt-link tag="a" to="/worker" class="mt-5 waves-effect waves-light btn" exact><i class="fa fa-arrow-right right" aria-hidden="true"></i> رجوع </nuxt-link>
                    </td>
                    <td></td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
export default {
  asyncData ({ req }) {
    return {
      workerDetails: {
        id: 1,
        workerName: ' السيد محمد علي محمود ',
        idNumber: '24582103265478',
        phoneNumber: '01234567891',
        address: ' باريس الدور التاني ',
        position: ' مدير ',
        basicSalary: 2500,
        notes: ''
      }
    }
  },
  created () {
  },
  computed: {
  },
  components: {
  }
}
</script>

<style lang="scss">

</style>
