<template>
  <main>
    <ol class="breadcrumb text-right">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <li class="breadcrumb-item"><nuxt-link tag="a" to="/"> الرئيسية </nuxt-link></li>
            <li class="breadcrumb-item"><nuxt-link tag="a" to="/worker"> الموظفين </nuxt-link></li>
            <li class="breadcrumb-item active"> اضافة منصب </li>
          </div>
        </div>
      </div>
    </ol>
    <section class="addPostion pb-5">
      <form action="" method="post" @submit.prevent="validateBeforeSubmit">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="h1 d-inline-block w-75 text-light blue-text my-3"> اضافة منصب: </h1>
            </div>
            <div class="col-12 row">
              <div class="col-12 my-3 d-flex align-items-center" :class="{ 'control': true }">
                <strong class="font-weight-bold ml-5"> المنصب <span class="req">*</span></strong>
                <div class="input-field w-75">
                  <input id="name" class="validate" type="text" name="name" v-validate="'required|alpha_spaces'" :class="{'input': true, 'text-danger': errors.has('name') }" v-model="position.name">
                  <label for="name"> الاسم </label>
                  <span v-show="errors.has('name')" class="text-help text-danger">{{ errors.first('name') }}</span>
                </div>
              </div>
              <div class="col-12 my-3 d-flex align-items-center">
                <strong class="font-weight-bold ml-3"> وصف المنصب </strong>
                <div class="input-field w-75">
                  <input id="description" class="validate" type="text"  name="description" v-validate="'alpha_spaces'" :class="{'input': true, 'text-danger': errors.has('description') }" v-model="position.description">
                  <label for="description"> الوصف </label>
                  <span v-show="errors.has('description')" class="text-help text-danger">{{ errors.first('description') }}</span>
                </div>
              </div>
              <div class="col-12 my-3 d-flex align-items-center">
                <strong class="font-weight-bold ml-5"> الصلاحيات <span class="req">*</span></strong>
                <div class="input-field w-75">
                  <select class="icons rtl d-block validate" name="permission" v-validate="'required|alpha_spaces'" :class="{'select': true, 'text-danger': errors.has('permission') }" v-model="position.permission">
                    <option value="" disabled selected> اختر الصلاحية </option>
                    <option :value="perm.value" v-for="perm in permissionArr" :key="perm.id" :class="[(perm.value === 'all' && perm.value !== 'none') ? 'bg-success text-white': '', (perm.value !== 'all' && perm.value === 'none') ? 'bg-danger text-white': '']">{{perm.name}}</option>
                  </select>
                  <span v-show="errors.has('permission')" class="text-help text-danger">{{ errors.first('permission') }}</span>
                </div>
              </div>
              <!-- <transition name="fade">
                <div class="col-12 my-3 d-flex align-items-center" v-if="position.permission === 'other'">
                  <strong class="font-weight-bold ml-3"> صلاحية جديدة </strong>
                  <div class="input-field w-75">
                    <input id="name" type="text" class="validate">
                    <label for="name"> الاسم </label>
                  </div>
                </div>
              </transition> -->
              <div class="w-100 my-3 mx-auto p-1 grey"></div>
              <div class="col-12 my-3">
                <button class="float-right right waves-effect waves-light btn" :class="{'disabled': errors.items.length > 0}"> اضافة </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
  </main>
</template>

<script>
  export default {
    name: 'addPosition',
    asyncData ({req}) {
      return {
        position: {
          name: '',
          description: '',
          permission: ''
        },
        permissionArr: [
          {
            id: 1,
            value: 'all',
            name: ' جميع الصلاحيات '
          },
          {
            id: 2,
            value: 'attendance',
            name: ' الحضور والانصراف '
          },
          {
            id: 3,
            value: 'buyAndSell',
            name: ' تعاملات البيع والشراء (للعملاء) '
          },
          {
            id: 4,
            value: 'transaction',
            name: ' المعاملات المالية '
          },
          {
            id: 5,
            value: 'none',
            name: ' ليس له صلاحية '
          }
          // {
          //   id: 0,
          //   value: 'other',
          //   name: ' أخرى '
          // }
        ]
      }
    },
    created () {
    },
    methods: {
      validateBeforeSubmit () {
        this.$validator.validateAll().then((result) => {
          if (result !== false) {
            // alert('add Successfully')
            this.$router.replace('/worker')
          }
          if (result) return
        })
      }
    },
    components: {

    }
  }
</script>

<style lang="scss">

</style>
