<template>
  <main>
    <ol class="breadcrumb text-right">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <li class="breadcrumb-item">
              <nuxt-link tag="a" to="/"> الرئيسية </nuxt-link>
            </li>
            <li class="breadcrumb-item">
              <nuxt-link tag="a" to="/worker"> الموظفين </nuxt-link>
            </li>
            <li class="breadcrumb-item active"> اضافة موظف</li>
          </div>
        </div>
      </div>
    </ol>
    <section class="addWorker pb-5">
      <form action="" method="post" @submit.prevent="validateBeforeSubmit">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="h1 d-inline-block w-75 text-light blue-text my-3"> اضافة موظف </h1>
            </div>
            <div class="col-12 row">
              <div class="col-12 my-3 d-flex align-items-center" :class="{ 'control': true }">
                <strong class="font-weight-bold ml-3"> الاسم كاملا <span class="req">*</span></strong>
                <div class="input-field w-75">
                  <input id="name" type="text" class="validate" name="name" v-validate="'required|alpha_spaces'" :class="{'input': true, 'text-danger': errors.has('name') }" v-model="workerInfo.workerName">
                  <label for="name"> الاسم الرباعي </label>
                  <span v-show="errors.has('name')" class="text-help text-danger">{{ errors.first('name') }}</span>
                </div>
              </div>
              <div class="col-12 my-3 d-flex align-items-center" :class="{ 'control': true }">
                <strong class="font-weight-bold ml-3"> الرقم القومي </strong>
                <div class="input-field w-75">
                  <input id="idnum" type="number" maxlength="15" name="idNum" v-validate="'max:14|numeric'" :class="{'input': true, 'text-danger': errors.has('idNum') }" class="validate phone" v-model.number="workerInfo.idNumber">
                  <label for="idnum"> ادخل الرقم القومي </label>
                  <span v-show="errors.has('idNum')" class="text-help text-danger">{{ errors.first('idNum') }}</span>
                </div>
              </div>
              <div class="col-12 my-3 d-flex align-items-center" :class="{ 'control': true }">
                <strong class="font-weight-bold ml-3"> رقم الهاتف <span class="req">*</span></strong>
                <div class="input-field w-75">
                  <input id="phone" type="number" maxlength="11" class="validate phone" name="phone" v-validate="'required|numeric|max:11'" :class="{'input': true, 'text-danger': errors.has('phone') }" v-model="workerInfo.phoneNumber">
                  <label for="phone"> ادخل رقم الهاتف </label>
                  <span v-show="errors.has('phone')" class="text-help text-danger">{{ errors.first('phone') }}</span>
                </div>
              </div>
              <div class="col-12 my-3 d-flex align-items-center" :class="{ 'control': true }">
                <strong class="font-weight-bold ml-5"> العنوان </strong>
                <div class="input-field w-75">
                  <input id="address" type="text" class="validate" name="address" v-validate="'alpha_spaces'" :class="{'input': true, 'text-danger': errors.has('address') }" v-model="workerInfo.address">
                  <label for="address"> ادخل العنوان </label>
                  <span v-show="errors.has('address')" class="text-help text-danger">{{ errors.first('address') }}</span>
                </div>
              </div>
              <div class="col-12 my-3 d-flex align-items-center" :class="{ 'control': true }">
                <strong class="font-weight-bold ml-5"> المنصب <span class="req">*</span></strong>
                <div class="input-field w-75">
                  <select class="icons rtl d-block validate" name="position" v-validate="'required'" :class="{'input': true, 'text-danger': errors.has('position') }" v-model.number="workerInfo.positionId">
                    <option value="" disabled selected> المناصب الحالية </option>
                    <option :value="position.id" v-for="position in positions" :key="position.id">{{position.name}}</option>
                  </select>
                  <span v-show="errors.has('position')" class="text-help text-danger">{{ errors.first('position') }}</span>
                </div>
              </div>
              <div class="col-12 my-3 d-flex align-items-center" :class="{ 'control': true }">
                <strong class="font-weight-bold ml-3"> المرتب الاساسي <span class="req">*</span></strong>
                <div class="input-field w-75">
                  <input id="basicSalary" type="number" min="0" name="basicSalary" v-validate="'required|numeric|min:0'" :class="{'input': true, 'text-danger': errors.has('basicSalary') }" class="validate" v-model.number="workerInfo.basicSalary">
                  <label for="basicSalary"> القيمة </label>
                  <span v-show="errors.has('basicSalary')" class="text-help text-danger">{{ errors.first('basicSalary') }}</span>
                </div>
              </div>
              <div class="col-12 my-3 d-flex align-items-center" :class="{ 'control': true }">
                <strong class="font-weight-bold ml-5"> كلمة السر </strong>
                <div class="input-field w-75">
                  <input id="password" type="password" class="validate" name="password" v-validate="'min:6|max:12'" :class="{'input': true, 'text-danger': errors.has('password') }">
                  <label for="password"> ادخل كلمة السر </label>
                  <span v-show="errors.has('password')" class="text-help text-danger">{{ errors.first('password') }}</span>
                </div>
              </div>
              <div class="col-12 my-3 d-flex align-items-center" :class="{ 'control': true }">
                <strong class="font-weight-bold ml-3"> تأكيد كلمة السر </strong>
                <div class="input-field w-75">
                  <input id="password" type="password" class="validate" name="confirmPassword" v-validate="'confirmed:password'" :class="{'input': true, 'text-danger': errors.has('confirmPassword') }" v-model="workerInfo.password">
                  <label for="password"> اعد ادخال كلمة السر </label>
                  <span v-show="errors.has('confirmPassword')" class="text-help text-danger">{{ errors.first('confirmPassword') }}</span>
                </div>
              </div>
              <div class="col-12 my-3 d-flex align-items-center" :class="{ 'control': true }">
                <strong class="font-weight-bold ml-3"> ملاحظات اضافية </strong>
                <div class="input-field w-75">
                  <textarea id="notes" class="materialize-textarea" v-model="workerInfo.notes"></textarea>
                  <label for="notes"> ملاحظات حول الموظف </label>
                </div>
              </div>
              <div class="w-100 my-3 mx-auto p-1 grey"></div>
              <div class="col-12 my-3">
                <button class="float-right right waves-effect waves-light btn" :class="{'disabled': errors.items.length > 0}"> اضافة </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
  </main>
</template>

<script>
export default {
  asyncData ({ req }) {
    return {
      workerInfo: {
        workerName: '',
        idNumber: '',
        phoneNumber: '',
        password: '',
        basicSalary: '',
        address: '',
        positionId: '',
        notes: ''
      },
      positions: [
        {
          id: 1,
          name: ' صاحب العمل '
        },
        {
          id: 2,
          name: ' شريك '
        },
        {
          id: 3,
          name: ' عضو منتدب '
        },
        {
          id: 4,
          name: ' محاسب '
        },
        {
          id: 5,
          name: ' عامل مخزن '
        },
        {
          id: 6,
          name: ' عامل ورشه '
        }
      ]
    }
  },
  methods: {
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result !== false) {
          // alert('add Successfully')
          this.$router.replace('/worker')
        }
        if (result) return
      })
    }
  },
  components: {

  }
}
</script>

<style lang="scss">

</style>
