<template>
  <main>
    <ol class="breadcrumb text-right">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <li class="breadcrumb-item"><nuxt-link tag="a" to="/"> الرئيسية </nuxt-link></li>
            <li class="breadcrumb-item active"> الموظفين </li>
          </div>
        </div>
      </div>
    </ol>
    <section class="worker">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="h1 d-inline-block w-50 text-light blue-text"> الموظفين :</h1>
            <nuxt-link tag="a" to="/worker/addWorker" class="float-left left mt-5 waves-effect waves-light btn" exact> اضافة موظف </nuxt-link>
            <nuxt-link tag="a" to="/attendance" class="float-left left mt-5 mx-2 waves-effect waves-light btn" exact> الحضور والانصراف </nuxt-link>
          </div>
          <div class="col-12 d-flex align-items-center my-4">
            <div class="input-field">
              <select class="icons rtl d-block" v-model="search.searchTypeId">
                <option value="" disabled selected> بحث بواسطة </option>
                <option :value="searchType.value" v-for="searchType in search.searchTypes" :key="searchType.id">{{searchType.name}}</option>
              </select>
            </div>
            <div class="input-field col mr-4">
              <input id="search" type="text" class="" :disabled="(search.searchTypeId === '') ? true : false" v-model="search.wanted" placeholder=" بحث عن.. ">
            </div>
          </div>
          <div class="col mt-3">
            <div class="table-responsive" v-if="workers">
              <table class="table table-striped centered">
                <thead class="thead-inverse">
                  <tr>
                    <th> م </th>
                    <th> اسم الموظف </th>
                    <th> المنصب </th>
                    <th> رقم الهاتف </th>
                    <th> المرتب </th>
                  </tr>
                </thead>
                <tbody>
                  <template v-if="workersArr.length > 0">
                    <tr v-for="worker in workersArr" :key="worker.id">
                      <td class="font-weight-bold" scope="row">{{worker.id}}</td>
                      <td>
                        <nuxt-link tag="a" :to="`/worker/${worker.id}`">{{worker.name}}</nuxt-link>
                      </td>
                      <td>{{worker.position}}</td>
                      <td>
                        <a :href="`tel:+2${worker.phone}`">{{worker.phone}}</a>
                      </td>
                      <td>{{worker.basicSalary}}</td>
                    </tr>
                  </template>
                  <template v-else>
                    <h3 class="mt-5 text-center w-100 absolute">
                      لا يوجد نتائج
                    </h3>
                  </template>
                </tbody>
              </table>
            </div>
            <div class="" v-else>
              <h3 class="h3 text-center"> لا يوجد عناصر مضافة </h3>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>

// import navbar from '~components/NavBar'
export default {
  asyncData ({ req }) {
    return {
      search: {
        wanted: '',
        searchTypeId: '',
        searchTypes: [
          {
            id: 1,
            name: ' الاسم ',
            value: 'name'
          },
          {
            id: 2,
            name: ' رقم الهاتف ',
            value: 'phone'
          },
          {
            id: 3,
            name: ' المنصب ',
            value: 'position'
          },
          {
            id: 4,
            name: ' المرتب ',
            value: 'basicSalary'
          }
        ]
      },
      searchType: '',
      counter: 1,
      workers: [
        {
          id: 1,
          name: ' علي محمود ',
          phone: '012345658910',
          position: ' محاسب ',
          basicSalary: 1500
        },
        {
          id: 2,
          name: ' محمد علي ',
          phone: '012345458910',
          position: ' عامل ورشة ',
          basicSalary: 1200
        },
        {
          id: 3,
          name: 'محمد علي محمود ',
          phone: '011345658910',
          position: ' عامل مخزن ',
          basicSalary: 1000
        },
        {
          id: 4,
          name: 'السيد محمد علي محمود ',
          phone: '010345658910',
          position: ' مساعد ',
          basicSalary: 1700
        },
        {
          id: 5,
          name: 'السيد محمد علي محمود ',
          phone: '012345658920',
          position: ' مدير ',
          basicSalary: 2500
        }
      ]
    }
  },
  computed: {
    workersArr () {
      var self = this
      return this.workers.filter(function (worker) {
        var returnedValue = worker.name.toLowerCase().indexOf(self.search.wanted.toLowerCase()) >= 0
        /* Search By Phone */
        if (self.search.searchTypeId === 'phone') {
          // alert('phone')
          returnedValue = worker.phone.toLowerCase().indexOf(self.search.wanted.toLowerCase()) >= 0
        }
        /* Search By Position */
        if (self.search.searchTypeId === 'position') {
          returnedValue = worker.position.toLowerCase().indexOf(self.search.wanted.toLowerCase()) >= 0
        }
        /* Search By Salary */
        if (self.search.searchTypeId === 'basicSalary') {
          returnedValue = worker.basicSalary.toString().toLowerCase().indexOf(self.search.wanted.toLowerCase()) >= 0
        }
        /* Search By Name */
        if (self.search.searchTypeId === 'name') {
          // alert('else')
          returnedValue = worker.name.toLowerCase().indexOf(self.search.wanted.toLowerCase()) >= 0
        }
        return returnedValue
      })
    }
  },
  components: {
  }
}
</script>

<style lang="scss">

</style>
