<template>
  <main>
    <nav>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="nav-wrapper">
              <a href="javascript:void(0)" data-activates="slide-out" class="button-collapse d-block ml-5 mr-0 right" title=" القائمة الجانبية "><i class="fa fa-bars fa-2x"></i></a>
              <nuxt-link tag="a" to="/" class="brand-logo"> الرئيسية </nuxt-link>
              <ul id="nav-mobile" class="hide-on-med-and-down left ml-5">
                <li><nuxt-link tag="a" to="/worker" class="" exact> الموظفين </nuxt-link></li>
                <li><nuxt-link tag="a" to="/accessory" class="" exact> اﻷكسسوارات </nuxt-link></li>
                <li><nuxt-link tag="a" to="/aluminum" class="" exact> الألومنيوم </nuxt-link></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <ul id="slide-out" class="side-nav">
      <nuxt-link tag="a" to="/" class="d-block p-3"> الرئيسية </nuxt-link>      
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
            الألومنيوم
          </div>
          <div class="collapsible-body">
            <ul>
              <li><nuxt-link tag="a" to="/aluminum" class="" exact> عرض </nuxt-link></li>
              <li><nuxt-link tag="a" to="/aluminum/add" class="" exact> اضافة جديد </nuxt-link></li>
              <li><nuxt-link tag="a" to="/aluminum/addSector" class="" exact> اضافة قطاع </nuxt-link></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            الأكسسوارات
          </div>
          <div class="collapsible-body">
            <ul>
              <li><nuxt-link tag="a" to="/accessory" class="" exact> عرض </nuxt-link></li>
              <li><nuxt-link tag="a" to="/accessory/add" class="" exact> اضافة جديد </nuxt-link></li>
              <li><nuxt-link tag="a" to="/accessory/addItem" class="" exact> اضافة صنف </nuxt-link></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            الموظفين
          </div>
          <div class="collapsible-body">
            <ul>
              <li><nuxt-link tag="a" to="/worker" class="" exact> عرض </nuxt-link></li>
              <li><nuxt-link tag="a" to="/worker/addWorker" class="" exact> اضافة موظف </nuxt-link></li>
              <li><nuxt-link tag="a" to="/worker/addPosition" class="" exact> اضافة منصب </nuxt-link></li>
              <!-- <li><nuxt-link tag="a" to="/aluminum/addItem" class="" exact> اضافة منصب </nuxt-link></li> -->
            </ul>
          </div>
        </li>
      </ul>
    </ul>
  </main>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>

</style>
