<template>
  <main>
    <ol class="breadcrumb text-right">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <li class="breadcrumb-item"><nuxt-link tag="a" to="/"> الرئيسية </nuxt-link></li>
            <li class="breadcrumb-item"><nuxt-link tag="a" to="/accessory"> الاكسسوارات </nuxt-link></li>
            <li class="breadcrumb-item active"> اضافة صنف </li>
          </div>
        </div>
      </div>
    </ol>
    <section class="addAccessory pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="h1 d-inline-block w-75 text-light blue-text my-3"> اضافة صنف:</h1>
          </div>
          <form @submit.prevent="addTheItem" method="post">
            <div class="col-12 row">
              <div class="col-12 my-3">
                <strong class="font-weight-bold ml-3"> اسم الصنف </strong>
                <div class="input-field d-inline-block w-75">
                  <input id="name" type="text" class="validate" v-model="itemName">
                  <label for="name" data-error="خطأ" data-success="صحيح" title=""> الاسم </label>
                </div>
              </div>
              <div class="col-12 my-3">
                <strong class="font-weight-bold ml-3"> سعر القطعة </strong>
                <div class="input-field d-inline-block w-75">
                  <input id="name" type="number" class="validate" v-model.number="itemPrice">
                  <label for="name" data-error="خطأ" data-success="صحيح" title=""> السعر بالجنيه </label>
                </div>
              </div>
              <div class="w-100 my-3 mx-auto p-1 grey"></div>
              <div class="col-12 my-3">
                <button type="submit" class="float-right right waves-effect waves-light btn"> اضافة </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
  import AccessoriesApi from '@/services/Accessories'
  export default {
    asyncData ({req}) {
      return {
        itemName: '',
        itemPrice: ''
      }
    },
    methods: {
      async addTheItem () {
        const response = await AccessoriesApi.addNewAccessory({
          itemName: this.itemName,
          itemPrice: this.itemPrice
        })
        console.log(response.data.status)
      }
    }
  }
</script>

<style lang="scss">

</style>
