<template>
  <main>
    <ol class="breadcrumb text-right">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <li class="breadcrumb-item"><nuxt-link tag="a" to="/"> الرئيسية </nuxt-link></li>
            <li class="breadcrumb-item active"> الاكسسوارات </li>
          </div>
        </div>
      </div>
    </ol>
    <section class="accessory">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="h1 d-inline-block w-50 text-light blue-text"> الاكسسوارات :</h1>
            <nuxt-link tag="a" to="/accessory/add" class="float-left left mt-5 waves-effect waves-light btn" exact> اضافة جديد </nuxt-link>
            <nuxt-link tag="a" to="/accessory/addItem" class="float-left left mt-5 mx-2 waves-effect waves-light btn" exact> اضافة صنف </nuxt-link>
          </div>
          <div class="col-12">
            <div class="input-field">
              <input id="search" type="text" class="validate" v-model="search" placeholder=" اسم الصنف ">
            </div>
          </div>
          <div class="col mt-3">
            <div class="table-responsive" v-if="accessoriesArr">
              <table class="table table-striped centered">
                <thead class="thead-inverse">
                  <tr>
                    <th> م </th>
                    <th> اسم الصنف </th>
                    <th> العدد </th>
                    <th> السعر </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(accessory, index) in accessoriesItems" :key="index">
                    <td class="font-weight-bold" scope="row">{{accessory.id}}</td>
                    <td>
                      <nuxt-link tag="a" :to="`/accessory/${accessory.id}`" exact>{{accessory.itemName}}</nuxt-link>
                    </td>
                    <td>{{accessory.itemNum}}</td>
                    <td>{{accessory.itemPrice}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="" v-else>
              <h3 class="h3 text-center"> لا يوجد عناصر مضافة </h3>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import AccessoriesApi from '@/services/Accessories'

export default {
  asyncData ({ req }) {
    return {
      search: '',
      counter: 1,
      accessoriesArr: []
    }
  },
  computed: {
    // Search throw items
    accessoriesItems () {
      var self = this
      return this.accessoriesArr.filter(function (accessory) {
        return accessory.itemName.toLowerCase().indexOf(self.search.toLowerCase()) >= 0
      })
    }
  },
  mounted () {
    // Get Accessories from Accessories Api
    setTimeout(() => {
      this.getAccessories()
    }, 500)
  },
  methods: {
    // Accessories Api Function
    async getAccessories () {
      const response = await AccessoriesApi.getAccessories()
      this.accessoriesArr = response.data
    }
  },
  components: {
    // navbar
  }
}
</script>

<style lang="scss">

</style>
