<template>
  <div>
    <header>
      <navbar/>
    </header>
    <nuxt/>
  </div>
</template>
<script>
  import navbar from '../components/NavBar'

  export default {
    components: {
      navbar
    }
  }
</script>
<!-- <script src="~assets/js/materialize.min.js" charset="utf-8"></script> -->
<style>

</style>
