<template>
  <main>
    <ol class="breadcrumb text-right">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <li class="breadcrumb-item"><nuxt-link tag="a" to="/"> الرئيسية </nuxt-link></li>
            <li class="breadcrumb-item"><nuxt-link tag="a" to="/accessory"> الاكسسوارات </nuxt-link></li>
            <li class="breadcrumb-item active"> تعديل </li>
          </div>
        </div>
      </div>
    </ol>
    <section class="addAluminum pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="h1 d-inline-block w-75 text-light blue-text my-3"> تعديل سعر القطعة :</h1>
          </div>
          <div class="col-12 row">
            <div class="col-12 my-3">
              <strong class="font-weight-bold ml-3"> اسم الصنف </strong>
              <div class="input-field d-inline-block w-75">
                <select class="icons rtl d-block" v-model.number="accessoriesArr.itemParentId" @change="updatePrice(accessoriesArr.itemParentId)">
                  <option value="" disabled selected> اسم الصنف </option>
                  <option :value="item.id" v-for="item in items" :key="item.id">{{item.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-12 my-3">
              <strong class="font-weight-bold ml-3"> سعر القطعة </strong>
              <div class="input-field d-inline-block w-75">
                <p class="lead d-inline-block grey text-white rounded p-1 px-3 mb-0">{{itemPrice}} <span> جنيه </span></p>
              </div>
            </div>
            <div class="col-12 my-3">
              <strong class="font-weight-bold ml-3"> العدد الكلي </strong>
              <div class="input-field d-inline-block w-75">
                <input id="name" type="number" class="validate" v-model.number="accessoriesArr.itemNum">
                <label for="name" data-error="خطأ" data-success="صحيح" title=""> العدد </label>
              </div>
            </div>
            <div class="col-12 my-3">
              <strong class="font-weight-bold ml-5"> الوزن </strong>
              <div class="input-field d-inline-block w-75">
                <input id="name" type="number" class="validate" v-model.number="accessoriesArr.itemWeight">
                <label for="name" data-error="خطأ" data-success="صحيح" title="">الوزن (ان وجد) </label>
              </div>
            </div>
            <div class="w-100 my-3 mx-auto p-1 grey"></div>
            <div class="col-12 my-3">
              <strong class="d-inline-block h5 ml-3"> اجمالي السعر </strong>
              <div class="d-inline-block h5 mx-5">
                <span class="badge badge-success">{{accessoriesArr.itemNum * itemPrice}}</span>&nbsp;
                جنيه
              </div>
              <button class="float-left left waves-effect waves-light btn"> حفظ </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
  export default {
    asyncData ({req}) {
      return {
        accessoriesArr: {
          id: 1,
          itemName: ' أوكره ',
          itemWeight: 23,
          itemNum: 5,
          itemPrice: 150
        }
      }
    },
    components: {

    }
  }
</script>

<style lang="scss">

</style>
