<template>
  <main>
    <ol class="breadcrumb text-right">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <li class="breadcrumb-item">
              <nuxt-link tag="a" to="/"> الرئيسية </nuxt-link>
            </li>
            <li class="breadcrumb-item">
              <nuxt-link tag="a" to="/attendance"> الحضور والانصراف </nuxt-link>
            </li>
            <li class="breadcrumb-item active"> اضافة </li>
          </div>
        </div>
      </div>
    </ol>
    <section class="addSheet pb-5">
      <form action="" method="post" @submit.prevent="validateBeforeSubmit">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="h1 d-inline-block w-75 text-light blue-text my-3"> اضافة </h1>
            </div>
            <div class="col-12 row">
              <div class="col-12 my-3 d-flex align-items-center" :class="{ 'control': true }">
                <strong class="font-weight-bold ml-3"> الاسم كاملا <span class="req">*</span></strong>
                <div class="input-field w-75">
                  <!-- <no-ssr> -->
                  <multiselect id="name" placeholder=" الاسم الرباعي " class="rtl validate float-none" @input="updateSelected" label="name" :options="workersName" name="name" v-validate="'required'" :class="{'input': true, 'text-danger': errors.has('name') }" v-model="selectData">
                  </multiselect>
                  <!-- </no-ssr> -->
                  <span v-show="errors.has('name')" class="text-help text-danger">{{ errors.first('name') }}</span>
                </div>
              </div>
              <div class="col-12 my-3 d-flex align-items-center" :class="{ 'control': true }">
                <strong class="font-weight-bold ml-4"> التاريخ <span class="req">*</span></strong>
                <div class="input-field w-75">
                  <flat-pickr id="date" :config="configPicker.date" name="date" v-validate="'required'" :class="{'input': true, 'text-danger': errors.has('date') }" class="dateTimePicker" v-model="workerSheet.date"></flat-pickr>
                  <label for="date"> ادخل التاريخ </label>
                  <span v-show="errors.has('date')" class="text-help text-danger">{{ errors.first('date') }}</span>
                </div>
              </div>
              <div class="col-12 my-3 d-flex align-items-center" :class="{ 'control': true }">
                <strong class="font-weight-bold ml-5"> من <span class="req">*</span></strong>
                <div class="input-field w-75">
                  <flat-pickr id="startedAt" :config="configPicker.startTimeAt" v-validate="'required'" :class="{'input': true, 'text-danger': errors.has('startedAt') }" class="dateTimePicker" name="startedAt" v-model="workerSheet.startedAt"></flat-pickr>
                  <label for="startedAt"> موعد الحضور </label>
                  <span v-show="errors.has('startedAt')" class="text-help text-danger">{{ errors.first('startedAt') }}</span>
                </div>
              </div>
              <div class="col-12 my-3 d-flex align-items-center" :class="{ 'control': true }">
                <strong class="font-weight-bold ml-5"> الى <span class="req">*</span></strong>
                <div class="input-field w-75">
                  <flat-pickr id="endedAt" :config="configPicker.endTimeAt" v-validate="'required'" :class="{'input': true, 'text-danger': errors.has('endedAt') }" class="dateTimePicker" name="endedAt" v-model="workerSheet.endedAt"></flat-pickr>                  
                  <label for="endedAt"> موعد الانصراف </label>
                  <span v-show="errors.has('endedAt')" class="text-help text-danger">{{ errors.first('endedAt') }}</span>
                </div>
              </div>
              <div class="w-100 my-3 mx-auto p-1 grey"></div>
              <div class="col-12 my-3">
                <button class="float-right right waves-effect waves-light btn" :class="{'disabled': errors.items.length > 0}"> اضافة </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
  </main>
</template>

<script>
import flatPickr from 'vue-flatpickr-component'

export default {
  asyncData ({ req }) {
    return {
      selectData: '',
      workerSheet: {
        workerId: '',
        startedAt: '',
        endedAt: '',
        date: '',
        basicSalary: '',
        address: '',
        positionId: '',
        notes: ''
      },
      configPicker: {
        startTimeAt: {
          wrap: true,
          enableTime: true,
          noCalendar: true,
          time_24hr: false
        },
        endTimeAt: {
          wrap: true,
          enableTime: true,
          noCalendar: true,
          time_24hr: false
        },
        date: {
          wrap: true,
          altFormat: 'd/m/Y',
          altInput: true,
          dateFormat: 'Y-m-d',
          minDate: new Date().fp_incr(-3),
          maxDate: 'today'
        }
      },
      workersName: [
        {
          id: '1',
          name: ' عامل محمد حسن '
        },
        {
          id: '2',
          name: ' احمد علي محمد '
        },
        {
          id: '3',
          name: ' اسامه محمد اسامه '
        },
        {
          id: '4',
          name: ' عبده محمود '
        },
        {
          id: '5',
          name: ' مصطفى علي '
        }
      ]
    }
  },
  methods: {
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result !== false) {
          this.$router.replace('/worker')
        }
        if (result) return
      })
    },
    updateSelected (selected) {
      this.workerSheet.workerId = selected.id
    }
  },
  mounted () {
  },
  components: {
    flatPickr
  }
}
</script>

<style lang="scss">

</style>
