<template>
  <main>
    <ol class="breadcrumb text-right">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <li class="breadcrumb-item"><nuxt-link tag="a" to="/"> الرئيسية </nuxt-link></li>
            <li class="breadcrumb-item active"> الحضور والانصراف </li>
          </div>
        </div>
      </div>
    </ol>
    <section class="attendance">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="h1 d-inline-block w-50 text-light blue-text"> مواعيد الحضور والانصراف :</h1>
            <nuxt-link tag="a" to="/attendance/addSheet" class="float-left left mt-5 waves-effect waves-light btn" exact> اضافة </nuxt-link>
            <!-- <nuxt-link tag="a" to="/attendance" class="float-left left mt-5 mx-2 waves-effect waves-light btn" exact> جدول الحضور </nuxt-link> -->
          </div>
          <div class="col-12 d-flex align-items-center my-4">
            <div class="input-field">
              <select class="icons rtl d-block" v-model="search.searchTypeId">
                <option value="" disabled selected> بحث بواسطة </option>
                <option :value="searchType.value" v-for="searchType in search.searchTypes" :key="searchType.id">{{searchType.name}}</option>
              </select>
            </div>
            <div class="input-field col mr-4">
              <input id="search" type="text" class="" :disabled="(search.searchTypeId === '') ? true : false" v-model="search.wanted" placeholder=" بحث عن.. ">
            </div>
          </div>
          <div class="col mt-3">
            <div class="table-responsive" v-if="attendance">
              <table class="table table-striped centered">
                <thead class="thead-inverse">
                  <tr>
                    <th> م </th>
                    <th>  اليوم </th>
                    <th> الشهر </th>
                    <th> التاريخ </th>
                    <th> العدد </th>
                    <th> التفاصيل </th>
                  </tr>
                </thead>
                <tbody>
                  <template v-if="attendanceArr.length > 0">
                    <tr v-for="(attend, index) in attendanceArr" :key="attend.id">
                      <td class="font-weight-bold" scope="row">{{index+1}}</td>
                      <td>{{attend.day}}</td>
                      <td>{{attend.date}}</td>
                      <td>{{attend.month}}</td>
                      <td>{{attend.count}}</td>
                      <td>
                        <nuxt-link tag="a" :to="`/attend/${attend.id}`" class="waves-effect waves-light btn" exact><i class="fa fa-eye" aria-hidden="true"></i></nuxt-link>
                      </td>
                    </tr>
                  </template>
                  <template v-else>
                    <h3 class="mt-5 text-center w-100 absolute">
                      لا يوجد نتائج مطابقة للبحث
                    </h3>
                  </template>
                </tbody>
              </table>
            </div>
            <div class="" v-else>
              <h3 class="h3 text-center"> لا يوجد عناصر مضافة </h3>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>

// import navbar from '~components/NavBar'
export default {
  asyncData ({ req }) {
    return {
      search: {
        wanted: '',
        searchTypeId: '',
        searchTypes: [
          {
            id: 1,
            name: ' اليوم ',
            value: 'day'
          },
          {
            id: 2,
            name: ' الشهر ',
            value: 'month'
          },
          {
            id: 3,
            name: ' التاريخ ',
            value: 'date'
          }
        ]
      },
      counter: 1,
      attendance: [
        {
          id: 1,
          day: ' السبت ',
          date: '11/10/2017',
          month: ' أكتوبر ',
          count: 5
        },
        {
          id: 2,
          day: ' اﻷحد ',
          date: '12/10/2017',
          month: ' أكتوبر ',
          count: 4
        },
        {
          id: 3,
          day: ' اﻷثنين ',
          date: '13/10/2017',
          month: ' أكتوبر ',
          count: 5
        },
        {
          id: 4,
          day: ' الثلاثاء ',
          date: '14/10/2017',
          month: ' أكتوبر ',
          count: 7
        },
        {
          id: 5,
          day: ' اﻷحد ',
          date: '11/09/2017',
          month: ' أكتوبر ',
          count: 9
        },
        {
          id: 6,
          day: ' الاثنين ',
          date: '12/09/2017',
          month: ' أكتوبر ',
          count: 10
        }
      ]
    }
  },
  computed: {
    attendanceArr () {
      var self = this
      return this.attendance.filter(function (attend) {
        var returnedValue = attend.date.toString().toLowerCase().indexOf(self.search.wanted.toLowerCase()) >= 0
        /* Search By Day */
        if (self.search.searchTypeId === 'day') {
          returnedValue = attend.day.toString().toLowerCase().indexOf(self.search.wanted.toLowerCase()) >= 0
        }
        /* Search By Month */
        if (self.search.searchTypeId === 'month') {
          returnedValue = attend.month.toString().toLowerCase().indexOf(self.search.wanted.toLowerCase()) >= 0
        }
        /* Search By Date */
        if (self.search.searchTypeId === 'date') {
          returnedValue = attend.date.toString().toLowerCase().indexOf(self.search.wanted.toLowerCase()) >= 0
        }
        return returnedValue
      })
    }
  },
  components: {
  }
}
</script>

<style lang="scss">

</style>
