* {
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;  
}

body {
  // @extend .purple, .lighten-3;
  direction: rtl;
  button, select, input, p, div, span, label, strong{
    font-family: 'Cairo', sans-serif;
  }
}

// main {
//   // overflow-x: hidden;
// }

// section {
//   padding: 50px 0;
// }

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.mainColor {
  background: $mainColor;
}

.mainColor-text {
  color: $mainColor;
}

.phone::-webkit-inner-spin-button,
.phone::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


// .wplholder::-webkit-input-placeholder { /* Chrome/Opera/Safari */
//   color: $white;
// }
// .wplholder::-moz-placeholder { /* Firefox 19+ */
//   color: $white;
// }
// .wplholder:-ms-input-placeholder { /* IE 10+ */
//   color: $white;
// }
// .wplholder:-moz-placeholder { /* Firefox 18- */
//   color: $white;
// }


.text-light {
  font-weight: 300;
}

.text-semiBold {
  font-weight: 500;
}

.transparent {
  background: transparent;
}

.outline-0 {
  outline: 0;
  &:hover {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.decoration-none {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-99 {
  z-index: 99;
}

.oh {
  overflow: hidden;
}

.ov-auto {
  overflow: auto;
}

.os-y {
  overflow-y: scroll;
}

.oa-y {
  overflow-y: auto;
}

.fw-25 {
  width: 250px !important;
}

.fh-5 {
  height: 50px !important;
}

.fh-25 {
  height: 250px !important;
}

.fh-30 {
  height: 300px !important;
}

.fh-50 {
  height: 500px !important;
}

.stars {
  color: $stars;
}

.shadow-none {
  box-shadow: none;
  &:hover {
    box-shadow: none;
  }
  &:focus {
    box-shadow: none;
  }
}

.border-bottom {
  border-bottom: 1px solid $gray-dark;
}

.shadow-bottom {
  box-shadow: 0px 5px 7px $lightShadow;
}

.pointer {
  cursor: pointer;
}

.has-error {
  background-color: red;
  color: white;
}

.req {
  color: rgb(206, 8, 8)
}

///////// Materialize /////////
select {
  height: auto;
}

.side-nav, .collapsible {
  padding-right: 0;
  a {
    transition: all .4s ease;
    &:hover, &.nuxt-link-exact-active {
      background: #cccccc;
      color: $black;
      border-right: 7px solid $footer;
    }
  }
}

.collapsible {
  .collapsible-header {
    transition: all .4s ease;
    padding-right: 10px;
    &:hover, &.active {
      background: $footer;
      color: $white;
      font-size: 1.2rem;
    }
  }
  .collapsible-body {
    padding-right: 0;
    background: $grey;
    border: 2px solid $footer;
    border-top: 0;
    margin: 0 0.6px;
    ul, li {
      padding-right: 0;
      a {
        &:hover, &.nuxt-link-exact-active {
          background: #cccccc;
          color: $black;
          border-right: 7px solid $footer;
        }
      }
    }
  }
}

.select-wrapper {
  span.caret {
    left: 0;
    right: auto;
  }
}

.dropdown-content {
  padding: 0;
  li {
    text-align: right;
  }
}

.input-field {
  // input.defaultStyle[readonly="readonly"] {

  // }
  label {
    right: 5px;
    left: auto;
  }
}

///////// Bootstrap /////////
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-large:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.breadcrumb-item {
  float: right;
}

///////// Vuejs /////////
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}


///////// Date Picker /////////
input.dateTimePicker.form-control.input.flatpickr-input {
  color: $black;
}

.flatpickr-month {
  height: 45px;
}

///////// Vue Select /////////
.multiselect {
  .multiselect__select {
    right: auto;
    left: 1px;
  }
  
  .multiselect__tags {
    padding: 8px 0px 0 15px;
    border-radius: 0;
    border: none;
  }
  
  .multiselect__input {
    margin-bottom: 8px !important;
  }
  // .multiselect__option--highlight
  .multiselect__option {
    span {
      float: right;
      z-index: 4;
      position: relative;
      width: 100%;
      text-align: right;
      background: inherit;
    }
  }
}