// Colors
$mainColor: #455A64;
$darkRed: #AB1214;
$arrowBG: #0B151F;
$next: #3E3731;
$grey: #F8F8F8;
$darkGrey: #E4E4E4;
$white: #FFFFFF;
$offwhite: #FAFAFA;
$mice: #BDBDBD;
$footer: #212121;
$darkFooter: #1A1A1A;
$social: #A5A5A5;
$controls: #808080;
$black: #000000;
$clientLit: #F6D1D1;
$liteGray: #EEEEEE;
$driver: #04AF9F;
$driverformBg: #038C7F;
$clientformBg: #AA1313;
$holderColorDriver: #A4CBC6;
$holderColorClient: #CF9191;
$shadowColor: rgba(0, 0, 0, 0.3);
$lightShadow: rgba(0, 0, 0, 0.1);
$modalBg: rgba(0, 0, 0, 0.5);
$blueWite: #1E88E5;
$wizardBg: #E0E0E0;
$editMe: #939596;
$stars: #F0CA45;


// media query
$smallLap: "(max-width: 1024px)";
$tablet: "(max-width: 768px)";
$mobile: "(max-width: 480px)";
$smallmobile: "(max-width: 320px)";
