<template>
  <main>
    <!-- <header>
      <navbar/>
    </header> -->
    <ol class="breadcrumb text-right">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <li class="breadcrumb-item"><nuxt-link tag="a" to="/"> الرئيسية </nuxt-link></li>
            <li class="breadcrumb-item"><nuxt-link tag="a" to="/aluminum"> الألومنيوم </nuxt-link></li>
            <li class="breadcrumb-item active">{{itemDetails.itemName}}</li>
          </div>
        </div>
      </div>
    </ol>
    <section class="aluminum">
      <div class="container">
        <div class="row">
          <div class="col-12 mt-3">
            <div class="table-responsive" v-if="itemDetails">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th> اسم القطاع </th>
                    <td>{{itemDetails.itemName}}</td>
                  </tr>
                  <tr>
                    <th> سعر الكيلو </th>
                    <td>{{itemDetails.itemKiloPrice}} (جنيه/كجم)</td>
                  </tr>
                  <tr>
                    <th> عدد اﻷعواد </th>
                    <td>{{itemDetails.itemsNum}}</td>
                  </tr>
                  <tr>
                    <th> متوسط طول العود </th>
                    <td>{{itemDetails.itemAvgLength}} (م/عود)</td>
                  </tr>
                  <tr>
                    <th> اجمالي طول اﻷعواد </th>
                    <td>{{itemDetails.itemsLength}} (م)</td>
                  </tr>
                  <tr>
                    <th> متوسط وزن العود </th>
                    <td>{{itemDetails.itemAvgWheight}} (كجم/عود)</td>
                  </tr>
                  <tr>
                    <th> اجمالي وزن اﻷعواد </th>
                    <td>{{itemDetails.itemsWheight}} (كجم)</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td>
                      <nuxt-link tag="a" to="/aluminum" class="waves-effect waves-light btn orange" exact><i class="fa fa-arrow-right right" aria-hidden="true"></i> رجوع </nuxt-link>
                    </td>
                    <td>
                      <nuxt-link tag="a" :to="'/aluminum/edit/'+itemDetails.id" class="waves-effect waves-light btn" exact><i class="fa fa-pencil right" aria-hidden="true"></i> تعديل </nuxt-link>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
export default {
  asyncData ({ req }) {
    return {
      itemDetails: {
        id: 1,
        itemName: ' السعد 1 ',
        itemKiloPrice: 25,
        itemsNum: 5,
        itemAvgLength: 15.5,
        itemsLength: 10,
        itemAvgWheight: 250,
        itemsWheight: 230
      }
    }
  },
  created () {
  },
  computed: {
  },
  components: {
  }
}
</script>

<style lang="scss">

</style>
