<template>
  <main>
    <!-- <header>
      <navbar/>
    </header> -->
    <ol class="breadcrumb text-right">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <li class="breadcrumb-item"><nuxt-link tag="a" to="/"> الرئيسية </nuxt-link></li>
            <li class="breadcrumb-item"><nuxt-link tag="a" to="/aluminum"> الألومنيوم </nuxt-link></li>
            <li class="breadcrumb-item active"> اضافة جديد </li>
          </div>
        </div>
      </div>
    </ol>
    <section class="addAluminum pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="h1 d-inline-block w-75 text-light blue-text my-3"> اضافة جديد :</h1>
          </div>
          <form method="post" action="/aluminum">
            <div class="col-12 row">
              <div class="col-12 my-3">
                <strong class="font-weight-bold ml-5"> اسم القطاع </strong>
                <div class="input-field d-inline-block w-75">
                  <select class="icons rtl d-block">
                    <option value="" disabled selected> اسم القطاع </option>
                    <option :value="sector.id" v-for="sector in sectors" :key="sector.id">{{sector.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-12 my-3">
                <strong class="font-weight-bold ml-5"> عدد اﻷعواد </strong>
                <div class="input-field d-inline-block w-75">
                  <input id="name" min="0" autocomplete="off" type="number" class="validate" v-model.number="aluminumArr.itemNum" required>
                  <label for="name" data-error="خطأ" data-success="صحيح" title=""> العدد </label>
                </div>
              </div>
              <div class="col-12 my-3">
                <strong class="font-weight-bold ml-3"> طول العود الواحد </strong>
                <div class="input-field d-inline-block w-75">
                  <input id="name" min="0" autocomplete="off" type="number" class="validate" v-model.number="aluminumArr.itemLength" required>
                  <label for="name" data-error="خطأ" data-success="صحيح" title=""> الطول بالمتر </label>
                </div>
              </div>
              <div class="col-12 my-3">
                <strong class="font-weight-bold ml-3"> وزن العود الواحد </strong>
                <div class="input-field d-inline-block w-75">
                  <input id="name" min="0" autocomplete="off" type="number" class="validate" v-model.number="aluminumArr.itemKilo" required>
                  <label for="name" data-error="خطأ" data-success="صحيح" title=""> الوزن بالكيلو </label>
                </div>
              </div>
              <div class="w-100 my-3 mx-auto p-1 grey"></div>
              <div class="col-12 my-3 row">
                <div class="col-5">
                  <strong class="d-inline-block h5 ml-3"> اجمالي الوزن المُضاف </strong>
                  <div class="d-inline-block h5">
                    <span class="badge badge-success">{{aluminumArr.itemNum * aluminumArr.itemKilo}}</span>&nbsp;
                    كيلو جرام
                  </div>
                </div>
                <div class="col-5">
                  <strong class="d-inline-block h5 ml-3"> اجمالي طول اﻷعواد المُضافة </strong>
                  <div class="d-inline-block h5">
                    <span class="badge badge-success">{{aluminumArr.itemNum * aluminumArr.itemLength}}</span>&nbsp;
                    متر
                  </div>
                </div>
                <button class="float-left left waves-effect waves-light btn mr-auto"> اضافة </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
  // import navbar from '~components/NavBar'

  export default {
    asyncData ({req}) {
      return {
        aluminumArr: {
          id: null,
          // itemName: '',
          itemKilo: null,
          itemNum: null,
          itemLength: null,
          totalWeight: null
        },
        sectors: [
          {
            id: 1,
            name: ' السعد 1 '
          },
          {
            id: 2,
            name: ' السعد 2 '
          },
          {
            id: 3,
            name: ' السعد 3 '
          },
          {
            id: 4,
            name: ' السعد 4 '
          }
        ]
      }
    },
    components: {
      // navbar
    }
  }
</script>

<style lang="scss">

</style>
