<template>
  <main>
    <ol class="breadcrumb text-right">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <li class="breadcrumb-item"><nuxt-link tag="a" to="/"> الرئيسية </nuxt-link></li>
            <li class="breadcrumb-item"><nuxt-link tag="a" to="/aluminum"> الألومنيوم </nuxt-link></li>
            <li class="breadcrumb-item active"> اضافة قطاع </li>
          </div>
        </div>
      </div>
    </ol>
    <section class="addAluminum pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="h1 d-inline-block w-75 text-light blue-text my-3"> اضافة قطاع :</h1>
          </div>
          <div class="col-12 row">
            <div class="col-12 my-3">
              <strong class="font-weight-bold ml-3"> اسم القطاع </strong>
              <div class="input-field d-inline-block w-75">
                <input id="name" type="text" class="validate" v-model="sectorName">
                <label for="name" data-error="خطأ" data-success="صحيح" title=""> الاسم </label>
              </div>
            </div>
            <div class="col-12 my-3">
              <strong class="font-weight-bold ml-3"> سعر الكيلو </strong>
              <div class="input-field d-inline-block w-75">
                <input id="name" type="number" class="validate" v-model.number="kiloPrice">
                <label for="name" data-error="خطأ" data-success="صحيح" title=""> السعر بالجنيه </label>
              </div>
            </div>
            <div class="w-100 my-3 mx-auto p-1 grey"></div>
            <div class="col-12 my-3">
              <button class="float-right right waves-effect waves-light btn"> اضافة </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
  export default {
    asyncData ({req}) {
      return {
        sectorName: '',
        kiloPrice: ''
      }
    },
    components: {

    }
  }
</script>

<style lang="scss">

</style>
