<template>
  <main>
    <!-- <header>
      <navbar/>
    </header> -->
    <ol class="breadcrumb text-right">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <li class="breadcrumb-item"><nuxt-link tag="a" to="/"> الرئيسية </nuxt-link></li>
            <li class="breadcrumb-item active"> الألومنيوم </li>
          </div>
        </div>
      </div>
    </ol>
    <section class="aluminum">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="h1 d-inline-block w-50 text-light blue-text"> الألومنيوم :</h1>
            <nuxt-link tag="a" to="/aluminum/add" class="float-left left mt-5 waves-effect waves-light btn" exact> اضافة جديد </nuxt-link>
            <nuxt-link tag="a" to="/aluminum/addSector" class="float-left left mt-5 mx-2 waves-effect waves-light btn" exact> اضافة قطاع </nuxt-link>
          </div>
          <div class="col-12">
            <div class="input-field">
              <input id="search" type="text" class="validate" v-model="search" placeholder=" اسم القطاع ">
            </div>
          </div>
          <div class="col mt-3">
            <div class="table-responsive" v-if="aluminumArr">
              <table class="table table-striped centered">
                <thead class="thead-inverse">
                  <tr>
                    <th> م </th>
                    <th> اسم القطاع </th>
                    <th> سعر الكيلو </th>
                    <th> عدد الأعواد </th>
                    <th> اجمالي طول الاعواد (متر)</th>
                    <th> اجمالي الوزن (كجم )</th>
                    <th> التفاصيل </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="alum in aluminumItems" :key="alum.id">
                    <td class="font-weight-bold" scope="row">{{alum.id}}</td>
                    <td>{{alum.name}}</td>
                    <td>{{alum.kiloPrice}}</td>
                    <td>{{alum.itemsNum}}</td>
                    <td>{{alum.itemsLength}}</td>
                    <td>{{alum.totalWeight}}</td>
                    <td>
                      <nuxt-link tag="a" :to="'/aluminum/'+alum.id" class="waves-effect waves-light btn" exact><i class="fa fa-eye" aria-hidden="true"></i></nuxt-link>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="" v-else>
              <h3 class="h3 text-center"> لا يوجد عناصر مضافة </h3>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
export default {
  asyncData ({ req }) {
    return {
      search: '',
      counter: 1,
      aluminumArr: [
        {
          id: 1,
          name: 'السعد 1',
          kiloPrice: 75,
          itemsNum: 5,
          itemsLength: 2,
          totalWeight: 600
        },
        {
          id: 2,
          name: 'السعد 2',
          kiloPrice: 75,
          itemsNum: 5,
          itemsLength: 2,
          totalWeight: 600
        },
        {
          id: 3,
          name: 'السعد 3',
          kiloPrice: 75,
          itemsNum: 5,
          itemsLength: 2,
          totalWeight: 600
        },
        {
          id: 4,
          name: 'السعد 4',
          kiloPrice: 75,
          itemsNum: 5,
          itemsLength: 2,
          totalWeight: 600
        },
        {
          id: 5,
          name: 'السعد 5',
          kiloPrice: 75,
          itemsNum: 5,
          itemsLength: 2,
          totalWeight: 600
        }
      ]
    }
  },
  created () {
    this.aluminumArr = this.aluminumItems
  },
  computed: {
    aluminumItems () {
      var self = this
      return this.aluminumArr.filter(function (alumin) {
        return alumin.name.toLowerCase().indexOf(self.search.toLowerCase()) >= 0
      })
    }
  },
  components: {
    // navbar
  }
}
</script>

<style lang="scss">

</style>
