<template>
  <main>
    <!-- <header>
      <navbar/>
    </header> -->
  </main>
</template>

<script>

// import navbar from '~components/NavBar'
export default {
  components: {
    // navbar
  }
}
</script>

<style lang="scss">

</style>
